body{
    background-image: url(../image/Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

  
input[type="text"],
input[type="email"],
input[type="password"]{
    border-color: green;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(58, 210, 94, 0.25);
} 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.uneditable-input:focus{
    border-color: green;
    box-shadow: 0 1px 1px green inset, 0 0 8px rgba(0, 10px,0, 0.075); 
    outline: 0 none;
}
button:hover{
    background-color:rgb(9, 121, 105);
    color: white;
    font-weight: bold;
}